.main{
    width: 80%;
    margin:auto;
}


.video-playlist {
    display: flex;
}

.video-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.video-thumbnail {
    cursor: pointer;
}

.video-player {
    flex: 2;
}




/* Style Videos */

.video-container {
    display: flex;
}

.video {
    flex: 1;
    margin-left: 20px;
}

.thumbnails {
    flex: 0 0 200px;
}

.thumbnail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.thumbnail-item img {
    width: 250px;
    margin-right: 10px;
    /* margin-left: 10px; */
}

#current-video {
    width: 100%;
}

.video-section {
  background-color: #ffffff;
  padding: 20px;
}

/* *********  version 2 */
/********* Tamaño de celular **********/
@media only screen and (max-width: 500px){
/* Estilos para el diseño responsive */
.video-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .thumbnail-item {
    text-align: center;
    margin: 10px;
  }
  
  .video {
    width: 100%;
    max-width: 800px; /* Puedes ajustar el valor máximo según tus necesidades */
    margin-top: 20px;
    position: relative;
  }
  
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio para videos */
    height: 0;
    overflow: hidden;
  }
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
 
  
}